@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

.container {
    width: 83.33%; /* 10/12 = 83.33% According to the grid system in the design */
    max-width: 1800px; /* Max width if screen size too big */
    box-sizing: border-box; 
    margin: auto;
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 1rem;
  }
}